<div ng-controller="entityeditctrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">{{pagestatus}} Entity</h1>
    </div>
    <div class="wrapper-md" ng-hide="entity.id">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name="entityForm" id="entityForm" method="POST" ng-submit="submitEntity(entityForm.$valid)">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="ddlType"
                                    ng-options="option.id as option.name for option in entityTypeList"
                                    ng-model="entity.type" required="required" ng-disabled="entity.id"></select>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="txtName" class="form-control" ng-model="entity.name" required="required" maxlength="100" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quick Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="txtQuickName" ng-model="entity.quickName" class="form-control" maxlength="45" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="ddlStatus"
                                    ng-options="option.id as option.name for option in statusOption"
                                    ng-model="entity.status" required="required"></select>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in" ng-hide="entity.id"></div>
                    <div class="form-group" ng-hide="entity.id">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-default" type="button"
                                    ng-click="btnCancel()">Back
                            </button>
                            <button type="button" class="btn btn-success" id="btnSaveEntity" ng-click="saveEntity('save')">Save</button>
                            <button type="button" class="btn btn-primary" id="btnExitEntity" ng-click="saveEntity('exit')">Save And Exit</button>
                            <button type="submit" class="hide" id="btnSubmitEntity"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper-md" ng-show="entity.id">
        <div class="row">
            <div class="col-md-3" style="min-width:220px;">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="TreeOption.keyword">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="searchTree()">Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-xs">
                            <div class="col-sm-6" style="padding-right:0">
                                <button class="btn btn-sm btn-success" ng-click="addNode()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="removeNode()">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            </div>
                            <div class="col-sm-6 text-right" style="padding-left:0">
                                <div class="checkbox m-t-none" ng-show="IsCouriers">
                                    <label class="i-checks">
                                        <input type="checkbox" ng-checked="TreeOption.showOnline" ng-model="TreeOption.showOnline" ng-click="searchTree()" />
                                        <i></i>
                                        Online
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div id="entityTree">
                                <ul id="dataTree" class="ztree" style="height: 520px; overflow:auto;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default" id="EntityBox" ng-show="showBox == 1">
                    <div class="panel-heading font-bold">
                        Entity
                    </div>
                    <div class="panel-body" style="min-height:540px;">
                        <form class="form-horizontal" name="entityRightForm" id="entityRightForm" method="POST" ng-submit="submitEntity(entityRightForm.$valid)">
                            <input type="text" ng-model="entity.id" style="display: none;" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="ddlEntityType"
                                            ng-options="option.id as option.name for option in entityTypeList"
                                            ng-model="entity.type" required="required" ng-disabled="entity.id"></select>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtEntityName" class="form-control" ng-model="entity.name" required="required" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quick Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtEntityQuickName" ng-model="entity.quickName" class="form-control" maxlength="45" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlEditStatus"
                                            ng-options="option.id as option.name for option in statusOption"
                                            ng-model="entity.status" required="required"></select>
                                    </select>
                                </div>
                            </div>
                            <div class="line b-b line-lg pull-in" style="display: none"></div>
                            <div class="form-group" style="display: none">
                                <label class="col-sm-3 control-label">Audit Company</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtEntityAuditCompany" ng-model="entity.currentCompany" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label class="col-sm-3 control-label">Audit User</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtEntityAuditUser" ng-model="entity.updatedBy" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label class="col-sm-3 control-label">Audit Customer</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtEntityAuditCustomer" ng-model="entity.currentCustomer" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label class="col-sm-3 control-label">Audit Stamp</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtEntityAuditStamp" ng-model="entity.updateTime" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-default" type="button"
                                            ng-click="btnCancel()">Back
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default" id="locationBox" ng-show="showBox == 2">
                    <div class="panel-heading font-bold">
                        Entity Location
                    </div>
                    <div class="panel-body" style="min-height:540px;">
                        <form class="form-horizontal" name="locationForm" method="POST" ng-submit="submitLocation(locationForm.$valid)">
                            <input type="text" ng-model="location.id" style="display: none;" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationCode" class="form-control" ng-model="location.code" required="required" maxlength="45" />
                                </div>
                                <label class="col-sm-2 control-label">Quick Name</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationquickName" class="form-control" ng-model="location.quickName" maxlength="45" ng-blur="codeChange()" />
                                </div>
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationStatus"
                                            ng-options="option.id as option.name for option in statusOption"
                                            ng-model="location.status" required="required"></select>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" name="txtLocationAddress1" class="form-control" placeholder="" ng-model="location.address1" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="text" name="txtLocationAddress2" class="form-control" placeholder="" ng-model="location.address2" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationCity" class="form-control" placeholder="" ng-model="location.city" maxlength="50" ng-blur="codeChange()" />
                                </div>
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationCountry"
                                            ng-options="Option.id as Option.name for Option in countryOption"
                                            ng-model="location.country"></select>
                                </div>
                                <label class="col-sm-2 control-label">Province</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationProvince"
                                            ng-options="Option.id as Option.name for Option in locationProvinceOption"
                                            ng-model="location.stateProvince"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Postal Code</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationPostalCode" class="form-control" placeholder="" ng-model="location.postalCode" maxlength="20" />
                                </div>
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationEmail" class="form-control" placeholder="" ng-model="location.email" maxlength="50" />
                                </div>
                                <label class="col-sm-2 control-label">Fax #</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationFax" class="form-control" placeholder="" ng-model="location.fax" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Bus 1 #</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationbusPhone1" class="form-control" placeholder="" ng-model="location.busPhone1" maxlength="150" />
                                </div>
                                <label class="col-sm-2 control-label">Bus 2 #</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationbusPhone2" class="form-control" placeholder="" ng-model="location.busPhone2" maxlength="150" />
                                </div>
                                <label class="col-sm-2 control-label">Aft Hr #</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationafterHoursPhone" class="form-control" placeholder="" ng-model="location.afterHoursPhone" maxlength="150" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Open Hrs</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtLocationopenHours" class="form-control" placeholder="" ng-model="location.openHours" maxlength="50" />
                                </div>
                                <label class="col-sm-2 control-label">Map Url</label>
                                <div class="col-sm-6">
                                    <input type="text" name="txtLocationMapUrl" class="form-control" ng-model="location.mapUrl" maxlength="50" />
                                </div>
                            </div>
                            <!--
                            <div class="form-group">
                                <label class="col-sm-2 control-label">el_usage</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationElUsage"></select>
                                </div>
                                <label class="col-sm-2 control-label">EL_AGENT_id</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationElAgentId"
                                            ng-model="location.agentId"></select>
                                </div>
                                <label class="col-sm-2 control-label">el_known_status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationELKnown"></select>
                                </div>
                            </div>
                            -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Known</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationKnown"
                                            ng-options="Option.id as Option.name for Option in yesNoOption"
                                            ng-model="location.known"></select>
                                </div>
                                <label class="col-sm-2 control-label">TSA</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationTSA"
                                            ng-options="Option.id as Option.name for Option in yesNoOption"
                                            ng-model="location.tsa"></select>
                                </div>
                                <label class="col-sm-2 control-label">CSA</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationCSA"
                                            ng-options="Option.id as Option.name for Option in yesNoOption"
                                            ng-model="location.csa"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Billing Company</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="BillingCompany" theme="bootstrap"
                                               ng-change="selectCustomer(BillingCompany,'Billing')">
                                        <ui-select-match placeholder="Select Billing Company">
                                            <span ng-bind-html="BillingCompany.genericInfo"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="'customerName'"
                                                           repeat="item in entityOption"
                                                           refresh="getEntityList('',$select.search)"
                                                           refresh-delay="400">
                                            <span ng-bind-html="item.genericInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <label class="col-sm-2 control-label">US Broker</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="USBroker" theme="bootstrap"
                                               ng-change="selectCustomer(USBroker,'US')">
                                        <ui-select-match placeholder="Select US Broker">
                                            <span ng-bind-html="USBroker.genericInfo"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="'customerName'"
                                                           repeat="item in entityBrokersOption"
                                                           refresh="getEntityList('BROKER',$select.search)"
                                                           refresh-delay="400">
                                            <span ng-bind-html="item.genericInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">CA Broker</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="CABroker" theme="bootstrap"
                                               ng-change="selectCustomer(CABroker,'CA')">
                                        <ui-select-match placeholder="Select US Broker">
                                            <span ng-bind-html="CABroker.genericInfo"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="'customerName'"
                                                           repeat="item in entityBrokersOption"
                                                           refresh="getEntityList('BROKER',$select.search)"
                                                           refresh-delay="400">
                                            <span ng-bind-html="item.genericInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <label class="col-sm-2 control-label">Alt US Broker</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="AltUSBroker" theme="bootstrap"
                                               ng-change="selectCustomer(AltUSBroker,'AltUS')">
                                        <ui-select-match placeholder="Select Alt US Broker">
                                            <span ng-bind-html="AltUSBroker.genericInfo"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="'customerName'"
                                                           repeat="item in entityBrokersOption"
                                                           refresh="getEntityList('BROKER',$select.search)"
                                                           refresh-delay="400">
                                            <span ng-bind-html="item.genericInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Alt CA Broker</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="AltCABroker" theme="bootstrap"
                                               ng-change="selectCustomer(AltCABroker,'AltCA')">
                                        <ui-select-match placeholder="Select Alt CA Broke">
                                            <span ng-bind-html="AltCABroker.genericInfo"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="'customerName'"
                                                           repeat="item in entityBrokersOption"
                                                           refresh="getEntityList('BROKER',$select.search)"
                                                           refresh-delay="400">
                                            <span ng-bind-html="item.genericInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <label class="col-sm-2 control-label">NAT Broker</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="NATBroker" theme="bootstrap"
                                               ng-change="selectCustomer(NATBroker,'NAT')">
                                        <ui-select-match placeholder="Select NAT Broker">
                                            <span ng-bind-html="NATBroker.genericInfo"></span>
                                        </ui-select-match>
                                        <ui-select-choices group-by="'customerName'"
                                                           repeat="item in entityBrokersOption"
                                                           refresh="getEntityList('BROKER',$select.search)"
                                                           refresh-delay="400">
                                            <span ng-bind-html="item.genericInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">TSA Contact</label>
                                <div class="col-sm-4">
                                    <input type="text" name="txtLocationTSAContact" class="form-control" ng-model="location.tsaContact" maxlength="50" />
                                </div>
                                <label class="col-sm-2 control-label">TSA Airport</label>
                                <div class="col-sm-4">
                                    <input type="text" name="txtLocationTSAAirport" class="form-control" ng-model="location.tsaAirport" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea name="txtLocationNotes" class="form-control" ng-model="location.notes" style="height:70px;"></textarea>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">

                                    <button class="btn btn-default" type="button"
                                            ng-click="btnCancel()">Back
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="panel panel-default" id="contactBox" ng-show="showBox == 3">
                    <div class="panel-heading font-bold">
                        Entity Contact
                    </div>
                    <div class="panel-body" style="min-height:540px;">
                        <form class="form-horizontal" name="contactForm" method="POST" ng-submit="submitContact(contactForm.$valid)">
                            <input type="text" name="txtContactId" ng-model="contact.id" style="display: none;" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Contact Type</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlContactType"
                                            ng-options="option.id as option.name for option in contactTypeList"
                                            ng-model="contact.contactType"></select>
                                    </select>
                                </div>

                                <label class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactFirstName" class="form-control" ng-model="contact.firstName" required="required" maxlength="45" />
                                </div>
                                <label class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactLastName" class="form-control" ng-model="contact.lastName" required="required" maxlength="45" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" name="txtContactAddress1" class="form-control" placeholder="" ng-model="contact.address1" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="text" name="txtContactAddress2" class="form-control" placeholder="" ng-model="contact.address2" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactCity" class="form-control" placeholder="" ng-model="contact.city" maxlength="45" />
                                </div>
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationCountry"
                                            ng-options="Option.id as Option.name for Option in countryOption"
                                            ng-model="contact.country"></select>
                                </div>
                                <label class="col-sm-2 control-label">Province</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlLocationProvince"
                                            ng-options="Option.id as Option.name for Option in contactProvinceOption"
                                            ng-model="contact.stateProvince"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Postal Code</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtPostalCode" class="form-control" placeholder="" ng-model="contact.postalCode" maxlength="20" />
                                </div>
                                <label class="col-sm-2 control-label">Office Phone</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactPhoneOffice" class="form-control" placeholder="" ng-model="contact.phoneOffice" maxlength="150" />
                                </div>
                                <label class="col-sm-2 control-label">Mobile Phone</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactPhoneMobile" class="form-control" placeholder="" ng-model="contact.phoneMobile" maxlength="150" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone Pager</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactPhonePager" class="form-control" placeholder="" ng-model="contact.phonePager" maxlength="50" />
                                </div>
                                <label class="col-sm-2 control-label">Home Phone</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactPhoneHome" class="form-control" placeholder="" ng-model="contact.phoneHome" maxlength="150" />
                                </div>
                                <label class="col-sm-2 control-label">Fax #</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactFax" class="form-control" placeholder="" ng-model="contact.phoneFax" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlContactStatus"
                                            ng-options="option.id as option.name for option in statusOption"
                                            ng-model="contact.status"></select>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-2">
                                    <input type="text" name="txtContactEmail" class="form-control" placeholder="" ng-model="contact.email" maxlength="50" />
                                </div>
                                <label class="col-sm-2 control-label">Global Entry</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlGlobalEntry"
                                            ng-options="option.id as option.name for option in yesNoOption"
                                            ng-model="contact.globalEntry"></select>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nexus</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlNexus"
                                            ng-options="option.id as option.name for option in yesNoOption"
                                            ng-model="contact.nexus"></select>
                                    </select>
                                </div>

                                <label class="col-sm-2 control-label">Company Credit Card</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlCompanyCreditCard"
                                            ng-options="option.id as option.name for option in yesNoOption"
                                            ng-model="contact.companyCreditCard"></select>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">TSA Pre-Clearance</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ddlTsaPreClearance"
                                            ng-options="option.id as option.name for option in yesNoOption"
                                            ng-model="contact.tsaPreClearance"></select>
                                    </select>
                                </div>
                            </div>

                            <div class="panel-heading font-bold">Courier Information</div>
                            <div class="panel-body">
                                <div class="form-group" ng-show="IsCouriers">
                                    <label class="col-sm-2 control-label">Online Status</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="ddlOnlineStatus"
                                                ng-options="option.id as option.name for option in onlineStatusList"
                                                ng-model="contact.onlineStatus"></select>
                                        </select>
                                    </div>

                                    <label class="col-sm-2 control-label">Courier Air Port</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="txtCourierAirPort" class="form-control" placeholder="" ng-model="contact.courierAirport" maxlength="45" />
                                    </div>
                                </div>

                                <div class="form-group" ng-show="IsCouriers">
                                    <label class="col-sm-2 control-label">Courier Country</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="ddlOnlineCountry"
                                                ng-options="Option.id as Option.name for Option in countryOption"
                                                ng-model="contact.onlineCountry"></select>
                                    </div>

                                    <label class="col-sm-2 control-label">Courier City</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="txtCourierCity" class="form-control" placeholder="" ng-model="contact.courierCity" maxlength="45" />
                                    </div>

                                    <label class="col-sm-2 control-label">Airline Information</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="txtCurrentFlight" class="form-control" placeholder="" ng-model="contact.currentFlight" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <div class="line b-b line-lg pull-in"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-group pull-right m-t-xs">
                                        <button class="btn btn-success " type="button" ng-click="addVisa()"><i class="fa fa-plus"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive m-xs">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="hidden">Id</th>
                                                <th>Visa Name</th>
                                                <th>Country</th>
                                                <th>Passport#</th>
                                                <th>Visa #</th>
                                                <th>Nationality</th>
                                                <th>Valid From</th>
                                                <th>Valid To</th>
                                                <th>Sector</th>
                                                <th>Note</th>
                                                <th style="width: 60px; text-align: center">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-show="!isLoading">
                                            <tr ng-repeat="row in VisaList">
                                                <td class="hidden">{{row.id}}</td>
                                                <td>{{ row.name}}</td>
                                                <td>{{ row.countryName}}</td>
                                                <td>{{ row.passportNo}}</td>
                                                <td>{{ row.visaNo}}</td>
                                                <td>{{ row.nationality}}</td>
                                                <td>{{ row.validFrom | date:'yyyy-MM-dd'}}</td>
                                                <td>{{ row.validTo | date:'yyyy-MM-dd'}}</td>
                                                <td>{{ row.sector }}</td>
                                                <td>{{ row.note }}</td>
                                                <td style="white-space: nowrap">
                                                    <div class="buttons">
                                                        <a class="btn btn-sm btn-info" ng-click="editVisa($index,row);"><i class="fa fa-edit"></i></a>
                                                        <a class="btn btn-sm btn-danger" ng-confirm-click="Are you sure you want to delete this record?"
                                                                confirmed-click="removeVisa($index)">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tbody ng-show="isLoading">
                                            <tr>
                                                <td colspan="11" class="text-center">
                                                    <i class="fa fa-spin fa-refresh"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-default" type="button"
                                            ng-click="btnCancel()">Back
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="visaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <form class="form-horizontal" name="visaForm" id="visaForm" method="POST" ng-submit="submitVisa(visaForm.$valid)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Visa Info</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="ddlVisaCountry"
                                        ng-options="Option.id as Option.name for Option in countryOption"
                                        ng-model="Visa.country" required="required"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Visa Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="visaName" ng-model="Visa.name"  required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Visa #</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="visaNo" ng-model="Visa.visaNo"   required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Passport #</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="visaPassportNo" ng-model="Visa.passportNo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nationality</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="visaNationality" ng-model="Visa.nationality" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sector</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="visaSector" ng-model="Visa.sector"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Valid From</label>
                            <div class="col-sm-9">
                                <div class="input-group" ng-controller="DatepickerDemoCtrl">
                                    <input type="text" class="form-control"
                                           datepicker-popup="yyyy-MM-dd"
                                           ng-model="Visa.validFrom" id="validFrom"
                                           is-open="opened" datepicker-options="dateOptions"
                                           close-text="Close"/> <span
                                        class="input-group-btn">
									<button type="button" class="btn btn-default"
                                            ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								    </span>
                                </div>
                            </div>
                        </div>
                            <div class="form-group m-sx">
                            <label class="col-sm-2 control-label">Valid To</label>
                            <div class="col-sm-9">
                                <div class="input-group" ng-controller="DatepickerDemoCtrl">
                                    <input type="text" class="form-control"
                                           datepicker-popup="yyyy-MM-dd"
                                           ng-model="Visa.validTo" id="validTo"
                                           is-open="opened" datepicker-options="dateOptions"
                                           close-text="Close"/> <span
                                        class="input-group-btn">
									<button type="button" class="btn btn-default"
                                            ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="6" ng-model="Visa.note" ></textarea>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div></form>
            </div>
        </div>
    </div>
</div>