<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ca.manitoulin.mtd.dao.misc.SequenceMapper">

	<update id="updateSequence" parameterType="string">
	UPDATE www.mdpseqfile
									SET SEQNUM = char(integer(SEQNUM) + 1)
									WHERE TBKEY = #{value}
	</update>
	
</mapper>